<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/insertbook" method="post">
    Book Id: <input type="text" name="bid" id="id"/><br/>
    Book Title: <input type="text" name="title" id="title"/><br/>
    Book Author: <input type="text" name="author" id="author"/><br/>
    Book Price: <input type="text" name="price" id="price"/><br/>
    <button type="submit" name="btn" id="btn" value="btn">Add Book</button>
   </form> 
</body>
</html>